APP_ENV=dev
APP_SECRET=a8b4c2d3e4f567890123456789abcdef
DEFAULT_URI="http://127.0.0.1:8000"

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=PASSWORD
DB_NAME=pickpocket

DATABASE_URL="mysql://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}?serverVersion=8.0&charset=utf8mb4"

MAILER_DSN="null://default"

MESSENGER_TRANSPORT_DSN="sync://"

VAR_DUMPER_SERVER="127.0.0.1:9912"

JWT_SECRET=my_key_for_jwt_signing

BROWSER_DRIVER_PATH="C:\geckodriver-v0.36.0-win64\geckodriver.exe" #(OR your Geckodriver path)
