body {
    background: linear-gradient(135deg, #0f172a, #1e293b, #3b82f6);
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.product-card {
    display: grid;
    grid-template:
        "image image" 250px
        "title title" 70px
        "ref ref" 50px
        "price price" 50px
        "details bookmark" 50px / auto 50px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    place-items: center;
    text-align: center;
}

.product-reference {
    grid-area: ref;
    padding: none;
    margin: 0;
}

.product-img {
    grid-area: image;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.product-title {
    grid-area: title;
    margin: 0;
}

.product-price {
    grid-area: price;
    margin: 0;
}

.product-details-btn {
    grid-area: details;
    margin-bottom: 0.4em;
    margin-left: 0.4em;
    justify-self: stretch;
    align-self: stretch;
    border-radius: 10px;
    color: white;
    background-color: royalblue;
    text-decoration: none;
    display: grid;
    place-items: center;
}

.product-bookmark-btn {
    grid-area: bookmark;
    background-image: url('/bookmark-empty.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-bottom: 0.4em;
    margin-right: 0.4em;
    border-radius: 10px;
    border: none;
    justify-self: stretch;
    align-self: stretch;
}


.product-bookmark-btn.bookmark-full {
    background-image: url('/bookmark-full.svg');
}
